/* Pagina incial de apresentação do projeto */
body{
    background-image: url("/assets/img/background.png");
    height: auto;
    width: auto;
    overflow-x: hidden;
}

.center{
    display: flex;
    background-color: #ffffff;
    width: auto;
    height: auto;
    justify-content: center;
    padding: 5%;
    flex-direction: column; 
    border-radius: 3px;
}

footer{
    display: flex;
    position:absolute;
    bottom: 0;
    width: 100%;
    flex-flow: wrap column;
   
    
}

.button{
    background-color: #ffffff;
    border: none;
    padding: 15px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
}
.button{
    background-color: white; 
    color: #f3a348; 
    border: 2px solid #f3a348;
}

.button1:hover{
    background-color: #f3a348;
    color: #ffffff;
    box-shadow: 0 6px 16px 0 rgba(219, 152, 64, 0.514), 0 12px 25px 0 rgba(245, 168, 67,0.19);
}

.redes{
    display: flex;
    justify-content: center;
}

.redes img{
    width: 50px;
    height: 50px;
    padding: 5px;

}

#direitos{
    display: flex;
    justify-content: center;
}

/*Pagina de login/cadastro */


.coluna{
    display: flex;
    align-items: center;
    justify-content: center;
}

.coluna form{
    display: flex;
    width: 50%;
    height: 50%;
    flex-direction: column; 
}

.coluna form label{
    padding-top: 15px;
    padding-bottom: 15px;
}

div{
    align-items: center;
}

#menu-button li{
    display: inline;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 0px 0px 3px 3px;
}

#menu-button li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

#menu-button li a:hover{
    color: brown;
}